* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: whitesmoke;
  height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 700px) {
    body{
        display: none;
    }
}
// I don't quite see the point of this mixin
@mixin inputs {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  text-align: center;
  font-size: 18px;
  &:focus {
    border-bottom: 2.2px solid rgb(252, 75, 11);
    outline: none;
  }
}
.header {
  color: white;
  padding: 1em 2em;
  background: rgb(252, 75, 11);

  .nav {
    display: flex;
    height: 10vh; // the nav element will always be as tall as 10% of the viewport
    align-items: center;
    justify-content: center;
  }
}

.table {
  width: 100%;
  border-collapse: separate; //Makes sure the table elements are not squashed together
  border-spacing: 2em 1em; // 2em spacing on the sides and 1em spacing top and bottom
  text-align: center;

  &-body {
    input {
      width: 100%;
      padding: .35em .5em;
      outline: 0;
    }

    

    .edit-grade-btn {
      width: 100%;
    }

    .delete-course-btn {
      width: 100%;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;

  button {
    min-width: 5em;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
    background-color: rgb(252, 75, 11);
    color: white;

    i {
      pointer-events: none;
    }
  }
}